@import '../../node_modules/normalize.css/normalize.css';
@import './fontello.css';
@import './preloader.less';
@import './vars.less';
@import './type.less';
@import './common.less';
@import './canvas.less';

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}
